<section id="content">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <%= render partial: "main/partials/procedure_counters" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= render partial: "main/partials/percentage" %>
          </div>
        </div>
    </div>
</section>
