

<section id="content">
  <div class="container">
    <div class="tile box-3 animated bounceIn">
      <div class="t-header th-alt">
        <div class="th-title text-center dark-font">
          Do Recebimento da Denúncia à Sentença Final
        </div>
      </div>
      <div class="t-body">
        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag "phase-3-small.png", id: "zoom-image", "data-zoom-image" => image_path("phase-3.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
