
<div class="cb-item cardboard animated zoomIn">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="qty dark-font">
        <%= file_time_icon %>
        <%= rand_number %> <%= rand_ptg %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <b class="dark-font"><%= label %></b>
    </div>
  </div>
</div>
