<div class="tile box-4 animated bounceIn">
  <div class="t-header th-alt">
    <div class="th-title text-center dark-font">
      Indicadores
    </div>
  </div>
  <div class="t-body tb-padding charts">
    <div id="container">
      <div id="procedure-per-days" class="col-md-8"></div>
      <div id="procedure-per-phase" class="col-md-4"></div>
    </div>
  </div>
</div>
