<div class="court text-left animated bounceIn">
  <div class="row">
    <div class="col-md-6">
      <div class="circle">
        <i class="zmdi zmdi-collection-item-<%= court %> zmdi-hc-fw"></i>
      </div>
    </div>

    <div class="col-md-6">
      <span class="description-court">
        <div class="court-qty">
          <%= value %>
        </div>
        <div class="court-percent">
          <%= "(#{ptg}%)" %>
        </div>
      </span>
    </div>
  </div>
</div>
