<div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mapa do Processo</h4>
      </div>
      <div class="modal-body text-center">
        <%= image_tag "details-procedure.png" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
