<div class="tile bg-cyan">
  <div class="t-header th-alt bg-black-trp">
    <div class="th-title">Percentages</div>
  </div>

  <div class="t-body tb-padding text-center">
    <div class="pie-overviews">
      <div class="pie-chart-tiny po-item" data-percent="86">
        <span class="poi-percent">86</span>
        <div class="poi-title">New Visitors</div>
      </div>

      <div class="pie-chart-tiny po-item" data-percent="23">
        <span class="poi-percent">23</span>
        <div class="poi-title">Bounce Rate</div>
      </div>

      <div class="pie-chart-tiny po-item" data-percent="57">
        <span class="poi-percent">57</span>
        <div class="poi-title">Emails Sent</div>
      </div>

      <div class="pie-chart-tiny po-item" data-percent="34">
        <span class="poi-percent">34</span>
        <div class="poi-title">Sales Rate</div>
      </div>
    </div>
  </div>
</div>
