<div class="tile">
  <div class="t-header th-alt bg-gray">
    <div class="th-title">Processos no Tempo de Justiça</div>
  </div>

  <div class="tile-body">
    <div class="count-box bg-gray">
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <div class="cb-item bg-blue">
            <h3 class="">232</h3>
            <small>Processos Monitorados</small>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="cb-item bg-green">
            <h3 class="">63 (54%)</h3>
            <small>Dentro do Tempo de Justiça</small>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="cb-item bg-orange">
            <h3 class="">22 (33%)</h3>
            <small>Próximo do Término de Tempo de Justiça</small>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="cb-item bg-red">
            <h3 class="">14 (23%)</h3>
            <small>Excedido do Tempo de Justiça</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
