.logo {
  background: linear-gradient(#05894B, #08A95E);
}

.logo > a {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  padding-top: 18px;
}

.relief {
  color: #e0eff2;
}


@media (min-width: 1280px) {
  #content {
    margin-left: 10px !important;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  #content {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  #content {
    margin-left: 0;
  }
}

.light-font{
  color:#fff
}

.qty {
  color: #fff;
  font-weight: bold;
}

.box-1 {
  border-top: 3px solid #00BCD4;
}

.box-2 {
  border-top: 3px solid #FF5722;
}
