.total-procedures {
  height: 236px;
  b {
    position: relative;
    top: 50px;
  }
}

.value-card {
  position: relative;
  top: 30px;
  font-size: 55px;
}

.dark-font {
  color: #909090;
  font-weight: bold;
}

.cardboard {
  border: 3px solid #CCC;
  border-radius: 10px;
}

.rounded-border {
  border-radius: 10px;
}

.file-time {
  position: absolute;
  float: left;
  left: 170px;
  top: 25px;
}

.file-icon {
  font-size: 40px !important;
}

.clock-icon {
  font-size: 20px !important;
  position: relative;
  right: 26px;
  top: -4px;
}

.clock-icon-jt {
  color: white;
  font-size: 60px !important;
  position: absolute;
  left: 8px;
  top: 11px;
  opacity: 0.3;
}

.circle {
  i {
    font-size: 30px;
    color: white;
    position: relative;
    top:15px;
    left: 10px;
  }
  width: 60px;
  height: 60px;
  background-color: #2196F3;
  border-radius: 50px;
}

.court-qty {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -10px;
}

.description-court {
  > div {
    color: #2196F3;
  }
  // position: relative;
  // right: 40px;
  // top: -8px;
}

.numberCircle {
  color: white;
  float: left;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 26px;
  height: 26px;
  padding: 5px;
  text-align: center;
}

.counters-bpmn {
  position: absolute;
  // .counters-bpmn-2 {
  //   left: 1150px;
  // }
  top: 47px;
}


@media (max-width: 1279px) {
  .counters-bpmn-1 {
    left: 33%;
  }

  .counters-bpmn-3 {
    left: 83%;
  }
}

@media (min-width: 1280px) {
  .counters-bpmn-1 {
    left: 33%;
  }

  .counters-bpmn-3 {
    left: 83%;
  }
}


@media (min-width: 1281px) and (max-width: 1499px) {
  .counters-bpmn-1 {
    left: 35%;
  }

  .counters-bpmn-2 {
    left: 54%;
  }

  .counters-bpmn-3 {
    left: 78%;
  }
}


@media (min-width: 800px) and (max-width: 1280px) {
  .counters-bpmn-1 {
    left: 32%;
  }

  .counters-bpmn-2 {
    left: 56%;
  }

  .counters-bpmn-3 {
    left: 85%;
  }
}

@media (min-width: 1281px) and (max-width: 1499px) {
  .counters-bpmn-1 {
    left: 35%;
  }

  .counters-bpmn-2 {
    left: 54%;
  }

  .counters-bpmn-3 {
    left: 78%;
  }
}

@media (min-width: 1500px) and (max-width: 1560px) {
  .counters-bpmn-3 {
    left: 76%;
  }

  .counters-bpmn-2 {
    left: 54%;
  }

  .counters-bpmn-1 {
    left: 37%;
  }
}

@media (min-width: 1561px) {
  .counters-bpmn-3 {
    left: 76%;
  }

  .counters-bpmn-2 {
    left: 54%;
  }

  .counters-bpmn-1 {
    left: 37%;
  }
}

.link-bpmn {
  width: 100px;
  height: 100px;
  background-color: red;
}

.image-bpm {
  margin-top: -30px;
}

.charts {
  height: 330px;
}

.court {
  width: 127px;
}

.ok-status {
  color: #4caf50
}

.warn-status {
  color: #FF9801
}

.danger-status {
  color: #F44336
}
